@model WebApplication2.Models.RegistracijaModel
@{
    ViewBag.Title = "Register";
}

<h2>Registracija</h2>
<style>
    label {
        color: white;
    }
</style>


<form id="formaReg" action="/Account/Register" method="post">
    @Html.AntiForgeryToken()
    <h4>Kreiraj novi nalog.</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label for="TextKorisnik" class="control-label col-md-2">Korisnicko Ime</label>
        <div class="col-md-10">
            <input id="TextKorisnik" type="text" name="KorisnickoIme" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="Text1" class="control-label col-md-2">Ime</label>
        <div class="col-md-10">
            <input id="Text1" type="text" name="Ime" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label for="Text2" class="control-label col-md-2">Prezime</label>
        <div class="col-md-10">
            <input id="Text2" type="text" name="Prezime" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Lozinka, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Lozinka, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PotvrdiLozinku, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.PotvrdiLozinku, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        $(document).ready(function () {

            $("#formaReg").validate({
                rules: {
                    KorisnickoIme: {
                        required: true
                    },

                    Ime: {
                        required: true,
                        minlength: 3
                    },
                    Prezime: {
                        required: true
                    },
                    Lozinka: {
                        required: true
                    },

                    PotvrdiLozinku: {
                        required: true
                    }                  

                },
                messages: {
                    KorisnickoIme: {
                        required: "Morate uneti korisnicko ime"
                    },
                    Ime: {
                        required: "Morate uneti ime",
                       
                    },
                    Prezime: {
                        required: "Morate uneti prezime"
                    },
                    Lozinka: {
                        required: "Morate uneti lozinku"
                    },

                    PotvrdiLozinku: {
                        required: "Morate potvrditi lozinku"
                    }

                  
                }
            });
        });

</script>
}
